@import './variables';
@import './media.scss';
@import './libs';

/* COMMON */

* {
    box-sizing: border-box;
}

/* HEADER */
body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.header {
    background: url("/Img/header/background.png");

    &__logo {
        font-size: 24px;
        font-weight: 700;  
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 36px 0 6px 0; 
    }

    &__subtitle {
        font-size: 20px;
    }

    &__number {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__content {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 510px;
        justify-content: space-between;
        overflow: hidden;
    }

    &__main {
        display: flex;
        flex-direction: column;
        width: 540px;
        gap: 16px 0;
    }

    &__image {
        position: absolute;
        bottom: -4px;
        right: 80px;
        z-index: 1;
    }

    &__image img {
        width: 524px;
        height: 510px; 
    }

    &__button {
        padding: 17px 30px;
        margin-top: 50px;
        font-size: 14px;
    }

    &__image {
        width: 524px;
        height: 510px;
        position: absolute;
        bottom: 0;
        right: 93px;
    }

    &__image::before {
        content: "";
        width: 472px;
        height: 472px;
        background-color: $orange;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        bottom: -110px;
        right: 0;
    }

    &__image::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        background-image: url("../Img/header/Girl.png");
    }
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}


.nav {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 28px;
    font-size: 14px;
    font-weight: 500;
    }

.navigation-link, a {
    color: $black;
    text-decoration: none;
}

a:hover {
    color: green;
}

.contact {

    &__number {
        font-size: 18px;
        font-weight: 500;
        gap: 8px 0;
    }

    &__time {
        font-size: 11px;
    }
}

.social {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
}

.title {
    font-size: 48px;
    font-weight: 600;
}

.desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.button {
    background-color: $orange; 
    width: fit-content;
    border-radius: 24px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;
}

.social img {
    cursor: pointer;
}

/* SECTION */

.about {

    padding: 100px 0;

    &__wrapper {
        width: 570px;
    }

    &__video {
        width: 445px;
        height: 297px;
        position: relative;
        left: 0;
        bottom: -88px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
    }

    &__service {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        padding-bottom: 32px;
    }

    &__text {
        line-height: 26px;
        font-size: 16px;
    }

    &__desc {
        padding-bottom: 16px;
    }
}

.icon {
    width: 60px;
    height: 60px;
    cursor: pointer;

    &__text {
        font-size: 16px;
        position: absolute;  
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 135px;
        bottom: 105px;
        line-height: 26px;
        color: $white;
       }
}

.service {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        width: 48px;
        height: 48px;
        margin-bottom: 20px;
    }
    &__text {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}

.subtitle {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 12px;
}

.text-1 {
    width: 296px;
}

.text-2 {
    width: 255px;
}

.text-3 {
    width: 263px;
}

/* SERVICE LIST */

.service-list {

    &__button {
        padding: 10px 20px;
        margin-top: 16px;
        font-size: 12px;
    }

    &__img{
        width: 350px;
        height: 180px;
        margin-bottom: 20px;
    }

    &__item {
        max-width: 350px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        gap: 30px;
    }

    &__title {
        padding-bottom: 32px;
    }

}

.text-small {
    line-height: 20px;
    font-size: 12px;
}

.service-price {

    padding: 100px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 32px;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        width: 444px;
    }

    &__subtitle {
        padding-bottom: 8px;
        font-weight: 500;
    }

    &__title{
        padding-bottom: 32px;
    }

    &__navigator {
        padding-bottom:57px;
    }

    &__price {
        color: $green;
        font-size: 20px;
        font-weight: 600;
        }

    &__link:hover {
        color: $green;
        cursor: pointer;
    }

    &__link:active {
        text-decoration: underline;
    }

}
    
/* MASTERS */

.masters {
    padding: 80px;
    background-color: #F8F6F7;

    &__about {
        max-width: 255px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title {
        padding-bottom: 32px;
    }

    &__text {
        padding-bottom: 24px;
    }

    &__photo {
        margin-bottom: 20px;
        cursor: pointer;
      position: relative;
      overflow: hidden;
      width: 255px;
      height: 300px;
      text-align:center;
    }

    &__sevice {
        padding-bottom: 20px;
    }

    &__link {
        background-color: #000000;
        position: absolute;
        top: 0;
        left: 0;
        color: $white;
        -webkit-transition: all 300ms ease-out;
          -moz-transition: all 300ms ease-out;
          -o-transition: all 300ms ease-out;
          -ms-transition: all 300ms ease-out;
          transition: all 300ms ease-out;
          opacity: 0;
          width: 255px;
          height: 300px;
          padding: 130px 20px;
          font-size: 14px;
    }

    &__photo:hover .masters__link {
        opacity: 0.5;
        color: $white;
    }

}

/* FOOTER */

.footer {

    &__navigation {
        display: flex;
        justify-content: space-between; 
        padding: 20px;
    }

    &__link {
        color: #278AFF;
        text-decoration: underline;
    }

}